
<div class="jumbotron">
  <div class="container p-5 my-5 bg-success text-white">
    <h1 class="display-3">  Editing Project  </h1>
    <%= render "form", project: @project %>
    <div>
      <%= link_to "Show this project", @project, class: "btn btn-dark" %> 
    </div>
  </div>
</div>
