<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

  </head>

<body>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container p-5 my-5 bg-success text-white">
    <h1 class="display-3">About this site</h1>
    <p>This portfolio site was developed by Hayley Jaap for CS3300. </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <h2 class="display-3 text-center">Projects</h2>
  <div class="card-deck">
    <div class="row mt-0">
    <% @projects.each do |project|  %>
      <div class="col-md-4">
      <div class="card p-3 bg-success text-white border-dark" style="width: 25rem; height: 22rem;">
      <div class="card-body">
        <h4 class="card-title"> <%= project.title %> </h4>
        <h4 class="card-title"> <%= link_to "Show this project", project, class: "btn btn-dark" %> </h4>
        <p class="card-text"> <%= project.description %> </p>
      </div>
      </div>
      </div>
    <% end %>
    </div>
  </div>
</div> 
<!-- /container -->

</body>

