
<div class="jumbotron">
  <div class="container p-5 my-5 bg-success text-white rounded border border-2 border-dark">
    <h1 class="display-3">  New project  </h1>
    <%= render "form", project: @project %>
  </div>
</div>




